.header-pdp {
  color: var(--dark-color);
}

.header-pdp .header__container {
  height: auto;
  display: block;
}

.section-detail {
  padding-top: 0;
  color: var(--dark-color);
}

.section-detail__layout {
  display: grid;
  gap: 1rem;
}

.section-detail-gallery__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 32.5rem;
}

.section-detail-gallery-main {
  width: 80%;
  height: 100%;
}

.section-detail-gallery-main img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-detail-gallery__container .swiper-slide {
  background-color: var(--purple-color);
}

.section-detail-gallery-main .swiper-button-prev,
.section-detail-gallery-main .swiper-button-next {
  position: absolute;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  height: 75px;
  width: 40px;
  color: #e9e9e9;
  background: #1e1e1e;
}

.section-detail-gallery-main .swiper-button-prev::after,
.section-detail-gallery-main .swiper-button-next::after {
  font-size: 12px;
}

.section-detail-gallery-main .swiper-button-prev {
  right: 40px;
  border-right: 1px solid #e9e9e9;
}

.section-detail-gallery-thumbs {
  order: -1;
  margin-right: 15px;
}

.section-detail-gallery-thumbs .swiper-slide img {
  transition: 0.3s;
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.section-detail-gallery-thumbs .swiper-slide-active {
  opacity: 0.9;
}

.section-detail-gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.section-detail-gallery-thumbs .swiper-slide-thumb-active::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section-detail-gallery-thumbs .swiper-slide-thumb-active::before {
  background-color: rgba(255, 255, 255, 0.7);
}

.section-detail__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.section-detail__price {
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.section-detail__description {
  font-size: .875rem;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.section-detail__description span {
  font-weight: 500;
}

.section-detail__fl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.section-detail-purchase {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.6;
  color: var(--dark-color);
  margin-bottom: 1.5rem;
}

.section-detail-purchase label {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  width: max-content;
}

.section-detail-purchase-item__wrapper {
  display: flex;
  align-items: center;
}

.section-detail-order {
  display: flex;
  margin-bottom: .875rem;
}

.section-detail-order .purple-primary-btn {
  flex: 1;
}

.section-detail-starting-price {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

@media (min-width:992px) {
  .header-pdp {
    margin-bottom: 1.875rem;
  }

  .section-detail {
    padding-top: 2.5rem;
  }

  .section-detail__layout {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 5rem;
  }

  .section-detail-gallery__controls {
    display: none;
  }
}