.section-ingredients {
  position: relative;
  text-align: center;
  height: 100vh;
  color: var(--dark-color);
}

.section-ingredients--grid {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: initial;
  height: 100%;
}

.section-ingredients__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-ingredients .h2 {
  margin-bottom: 1.5rem;
}

.section-ingredients__description {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.section-ingredients__img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50vw - 5rem);
  object-fit: cover;
  object-position: top left;
}

.section-ingredients-list {
  display: grid;
  grid-auto-rows: 1fr;
  color: var(--dark-color);
}

.section-ingredient-list-item:first-child {
  border-top: 1px solid var(--dark-brown-color);
}

.section-ingredient-list-item {
  border-bottom: 1px solid var(--dark-brown-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  row-gap: 1rem;
  padding: 1rem;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.section-ingredient-list-item__icon {
  margin-left: auto;
}

.section-ingredients-list-item__decor {
  height: 2.5rem;
  aspect-ratio: 1;
}

@media (min-width:992px) {
  .section-ingredients-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .section-ingredient-list-item__icon {
    display: none;
  }

  .section-ingredients__description {
    margin-bottom: 3.875rem;
  }

  .section-ingredient-list-item:first-child {
    border: none;
  }

  .section-ingredient-list-item {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--smooth-purple-color);
    border: 0;
    flex-direction: column;
  }

  .section-ingredients-list-item__decor {
    height: 3.75rem;
  }
}

@media (min-width:1200px) {
  .section-ingredients__img {
    display: inline-block;
  }

  .section-ingredients--grid {
    grid-auto-flow: column;
  }

  .section-ingredients-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}