 .accordion-item:first-child {
   border-top: 1px solid rgba(85, 85, 85, 0.37);
 }

 .accordion-item {
   width: 100%;
   overflow: hidden;
   color: var(--dark-color);
   font-weight: 300;
   font-size: .875rem;
   line-height: 1.6;
   border-bottom: 1px solid rgba(85, 85, 85, 0.37);
 }

 .accordion-item__head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   padding: 1rem .25rem 1rem 0;
   width: 100%;
   text-align: start;
 }

 .accordion-item__head h3 {
   font-weight: inherit;
 }

 .accordion-item__body {
   max-height: 0;
   overflow: hidden;
   will-change: max-height;
   transition: all 0.25s ease-out;
   opacity: 0;
 }

 .accordion-item__active .accordion-item__body {
   opacity: 1;
   margin-bottom: 1rem;
 }